body{
    background-image: url("https://wallpaperaccess.com/full/1155011.jpg");
    background-repeat: repeat-x;
    background-attachment:fixed;
}

.heading{
    color: #06f5d1;
    text-shadow: 2px 2px 10px;
    text-decoration: underline #06f5d1;
}
.apple{
    background: radial-gradient(#ea02a4, rgb(6, 54, 42));
    background-size: 100% 200%;
    background-position: 50% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 16px;
    padding-bottom: 12px;
    /* animation: fade-in-hero 1.5s ease-out 0.7s 1 forwards */
    font-size: 80px;
    line-height: 1.05;
    font-weight: 700;
    letter-spacing: -.015em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}  
.login{
    background-color:#fdad01;
    padding-top: 30px;
    padding-bottom: 50px;   
    margin-left: 500px;
    margin-right: 500px;
    /* border-style: solid; */
    /* border-width: 5px; */
    /* border-color: radial-gradient(#ea02a4, rgb(6, 54, 42)); */
    /* max-width: 250px; */
    /* padding: 1rem; */
    /* color: linear-gradient(to right,#ea02a4, rgb(6, 54, 42) 1,100%); */
    color:rgb(246, 243, 243);
    border-width: 3px;
    border-style:solid;
    /* border-radius: 25px;  */
    border-image: 
      linear-gradient(
        to bottom, 
        #ea02a4, 
        rgb(6, 54, 42)
      ) 1 100% ; 
}
.module {
    padding-top: 30px;
    padding-bottom: 50px; 
    max-width: 250px;
    padding: 1rem;
    color: white;
    border-width: 3px;
    border-style: solid;
    border-image: 
      linear-gradient(
        to bottom, 
        red, 
        rgba(0, 0, 0, 0)
      ) 1 100%;
  }
.login_heading{
  /* display:inline; */
  background-image: radial-gradient(#ea02a4, rgb(6, 54, 42));
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.new_user{
  color:rgb(1, 1, 248)
}

